.login-form-holder {
    width: 600px;
    margin: auto;
    padding: 3em;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error {
    color: red;
}