{% extends "layout.html" %}

{% block body %}
<h3>Create account</h3>
<hr>
<form method="POST" action="{{ url_for('user_create') }}">      
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class='form-control', placeholder='Your name') }}
    </div>
    <div class="form-group">
        {{ form.userform.username.label }}
        {{ form.userform.username(class='form-control', placeholder='Username') }}
    </div>
    <div clas="form-group">
        {{ form.userform.password.label }}
        {{ form.userform.password(class='form-control', placeholder='Password') }}
        <ul class="error">
            {% for error in form.userform.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group">
        {{ form.userform.password2.label }}
        {{ form.userform.password2(class='form-control', placeholder='Repeat password') }} 
    </div>
    <div class="form-group error">
        {{ error }}
    </div>
    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Add user" />            
    </div>
    
    
</form>
{% endblock %}