{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('character_create') }}">
    <table>
        <tr>
            <td>{{ form.name.label }}</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>{{ form.strength.label }}</td>
            <td>{{ form.strength }}</td>
            <td>
                <ul>
                    {% for error in form.strength.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.dexterity.label }}</td>
            <td>{{ form.dexterity }}</td>
            <td>
                <ul>
                    {% for error in form.dexterity.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.constitution.label }}</td>
            <td>{{ form.constitution }}</td>
            <td>
                <ul>
                    {% for error in form.constitution.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.intelligence.label }}</td>
            <td>{{ form.intelligence }}</td>
            <td>
                <ul>
                    {% for error in form.intelligence.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.wisdom.label }}</td>
            <td>{{ form.wisdom }}</td>
            <td>
                <ul>
                    {% for error in form.wisdom.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>{{ form.charisma.label }}</td>
            <td>{{ form.charisma }}</td>
            <td>
                <ul>
                    {% for error in form.charisma.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create" />
            </td>
        </tr>
    </table>
    
</form>
{% endblock %}