{% extends "layout.html" %}

{% block body %}

<p>Name: {{ character.name }}</p>
<p>Level: {{ character.level }}</p>
<p>Strength: {{ character.strength }}</p>
<p>Dexterity: {{ character.dexterity }}</p>
<p>Constitution: {{ character.constitution }}</p>
<p>Intelligence: {{ character.intelligence }}</p>
<p>Wisdom: {{ character.wisdom }}</p>
<p>Charisma: {{ character.charisma }}</p>
<p>
    <form method="POST" action="{{ url_for('character_level_up', char_id=character.id) }}">
        <input type="submit" value="Level up" />
    </form>
</p>
<p>
    <form method="POST" action="{{ url_for('character_remove', char_id=character.id) }}">
        <input type="submit" value="Remove character" />
    </form>
</p>
{% endblock %}